export NEO4J_USER="user"
export NEO4J_PASSWORD="password"
export DATABASE_URL="url"
export BLOCKSCOUT_API_URL="https://blockscout.com/eth/mainnet/graphiql"
export DISSRUP_THE_GRAPH_API_URL="https://api.thegraph.com/subgraphs/name/dissrup-admin/mainnet-v12"
