export NEO4J_USER="neo4j"
export NEO4J_PASSWORD="test"
export DATABASE_URL="neo4j://core1"
export BLOCKSCOUT_API_URL="https://eth.blockscout.com/graphiql"
export DISSRUP_THE_GRAPH_API_URL="https://api.thegraph.com/subgraphs/name/dissrup-admin/mainnet-v12"
